*{
    margin: 0px;
    padding: 0px;
}

.footer{
    height: 7vh;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{

    font-weight: 700;
    color: white;
}


